<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- <script src="https://cdn.tailwindcss.com" charset="utf-8"></script> -->
  <link rel="stylesheet" href="styles.css">
  <title>Weather App</title>
</head>

<body>
  <div class="<%=container%> submission-page">
    <label for="">User Details</label>
    <form action="/get-weather" method="post" class="submission-form">
      <div class="input-container">
        <input class="user-input" type="text" name="userName" value="" placeholder="Name" required autofocus>
      </div>
      <div class="input-container">
        <input class="user-input" type="text" name="location" value="" placeholder="Location" required>
      </div>
      <button class="btn" type="submit" name="submit">Submit</button>
    </form>
  </div>
</body>

</html>
